html {
  font-size: 16px;
}

/*-------- menu --------*/
header {
  background-color: white;
  color: black;
  height: 64px;
  display: flex;
}

.logo {
  display: flex;
  align-self: center;
  margin-left: 24px;
  flex-grow: 1;
}

.logo img {
  height: 32px;
}

.logo span {
  align-self: center;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  margin: auto 24px auto 24px;
}

ul {
  display: flex;
  justify-content: space-between;
}

.menu-desktop ul li {
  padding: 0 0 0 16px;
}

.menu-mobile {
  display: none;
}

/*-------- menu mobile --------*/
@media only screen and (max-width: 520px) {
  .logo {
    display: none;
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
  }

  .menu-mobile ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-mobile ul li img {
    height: 32px;
  }
}


/*-------- banner --------*/
.banner {
  background-color: grey;
  display: flex;
  padding: 32px 24px 32px 24px;
}

.article {
  width: 60%;
}

.article img {
  width: 100%;
}

.content {
  margin: auto 0 auto 24px;
  display: flex;
  flex-direction: column;
}

.banner h1 {
}

.banner h3 {
}

.cta {
  background-color: red;
  color: white;
  width: 100px;
  height: 50px;
}

/*-------- banner mobile --------*/
@media only screen and (max-width: 520px) {
  .banner {
    flex-direction: column;
    padding: 0 0 0 0;
  }

  .article {
    width: 100%;
  }

  .content {
    margin: 32px 16px 32px 16px;
  }

  .banner h3 {
    margin-top: 32px;
  }

  .cta {
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }

}


/*-------- main --------*/
.main {
  background-color: blue;
  display: flex;
}

.big-news {
  width: 60%;
  margin: 32px 24px 0 24px;
}

.big-news img {
  width: 100%;
}

.big-news h2 {
  margin-top: 32px;
}

.big-news p {
  margin-top: 24px;
}

.column {
  width: 40%;
  background-color: red;
}

.image {
  width: 35%;
  height: auto;
}

.news {
  display: flex;
  background-color: green;
}

.image img {
  width: 100%;
  height: auto;
}

.contenu {
  width: 65%;
  margin: auto 16px auto 16px;
}

.image-mobile {
  display: none;
}

.news:nth-child(1n+3) {
  background-color: grey;
}

/*-------- main mobile --------*/
@media only screen and (max-width: 520px) {
  .big-news {
    display: none;
  }

  .image-desktop {
    display: none;
  }

  .column {
    width: 100%;
  }

  .news {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .image-mobile {
    display: block;
  }

  .image-mobile img {
    width: 100%;
  }
}


/*-------- category --------*/
