
/*------------------ font ------------------*/
html {
  font-size: 16px;
  font-family: 'Bitter', serif;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.4rem;
  color: rgb(40, 40, 40);
}

h2 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 3.2rem;
  color: rgb(40, 40, 40);
}

h3 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: rgb(40, 40, 40);
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
}

a {
  text-decoration: none;
}

/*------------------ font mobile ------------------*/
@media only screen and (max-width: 520px) {
  h1 {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  h2 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 2.6rem;
    color: rgb(40, 40, 40);
  }

  h3 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

/*------------------ common property ------------------*/
.container {
  display: flex;
}

.box {
  display: flex;
}

.left {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.right {
  width: 40%;
  margin: 1rem 0 2rem 0;
}

.article {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
}

.image {
  width: 35%;
  height: auto;
}

.content {
  width: 65%;
  margin: auto 16px auto 16px;
}

/*------------------ common property mobile ------------------*/
@media only screen and (max-width: 520px) {
  .right {
    width: 100%;
    margin: 0 0 0 0;
  }

  .left {
    width: 100%;
    margin: 0 0 0 0;
  }
}

/*-------- menu --------*/
header {
  background-color: white;
  color: black;
  height: 4rem;
  display: flex;
}

.logo {
  display: flex;
  align-self: center;
  margin-left: 1.5rem;
  flex-grow: 1;
}

.logo img {
  height: 3rem;
}

.logo span {
  align-self: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.colmar {
  color: rgb(214, 173, 84);
  font-weight: 700;
}

.academy {
  color: rgb(40, 40, 40);
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  margin: auto 1.5rem auto 0;
  font-size: 1.2rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-family: 'Bitter', serif;
  color: black;
  text-decoration: none;
}

nav a:hover {
  font-family: 'Bitter', serif;
  color: rgb(214, 173, 84);
  text-decoration: none;
  transition: color 0.3s linear;
}

.menu-desktop ul li {
  padding: 0 0 0 1rem;
}

.menu-mobile {
  display: none;
}

/*-------- menu mobile --------*/
@media only screen and (max-width: 520px) {
  .logo {
    display: none;
  }

  nav {
    margin: auto 1.5rem auto 1.5rem;
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
  }

  .menu-mobile ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-mobile ul li img {
    height: 2rem;
  }
}


/*-------- banner --------*/
.container.banner {
  background-color: rgb(230, 230, 230);
}

.left img {
  width: 100%;
}

.container.banner .right {
  margin: auto 0 auto 0;
}

.heading {
  margin: auto 0 auto 0;
  width: 75%;
}

.banner h3 {
  margin-top: 1.5rem;
}

.cta {
  margin-top: 1.5rem;
  background-color: rgb(214, 173, 84);
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 0.4rem;
}

.cta:hover {
  background-color: rgb(40, 40, 40);
  transition: color 0.5s linear;
  transition: background-color 0.5s linear;
  color: white;
}

/*-------- banner mobile --------*/
@media only screen and (max-width: 520px) {
  .container.banner {
    flex-direction: column;
  }

  .heading {
    width: auto;
    margin: 2rem 1rem 2rem 1rem;
  }

  .banner h3 {
    margin-top: 2rem;
  }
}


/*-------- main --------*/
.container.main {
  background-color: white;
}

.left img {
  width: 100%;
}

.main h2 {
  margin-top: 2rem;
}

.main p {
  margin-top: 1.5rem;
}

.name {
  margin-top: 1.5rem;
}

.image img {
  width: 100%;
  height: auto;
}

.image-mobile {
  display: none;
}

.main .article:nth-child(1n+3) {
  background-color: rgb(230, 230, 230);
}

.content p {
  margin-top: 0.5rem;
}

.link {
  margin-top: 0.5rem;
}

.link a {
  color: rgb(214, 173, 84);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*-------- main mobile --------*/
@media only screen and (max-width: 520px) {
  .main .left {
    display: none;
  }

  .image-desktop {
    display: none;
  }

  .main .article {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .image-mobile {
    display: block;
  }

  .image-mobile img {
    width: 100%;
  }

  .main .article:nth-child(1n+3) {
    background-color: white;
  }
}


/*-------- category --------*/
.container.category {
  background-color: rgb(235, 235, 235);
  flex-direction: column;
  border: 2px solid rgb(235, 235, 235);
}

.category h2 {
  text-align: center;
  margin-top: 2rem;
}

.container.category .box {
  justify-content: center;
  margin-top: 2rem;
  margin: 2rem 4.5rem 2rem 4.5rem;
}

.course {
  background-color: white;
  width: 100%;
  height: auto;
}

.course:hover {
  box-shadow: 0.1rem 0.1rem 1.4rem rgb(180, 180, 180);
  transition: box-shadow 0.3s linear;
}

.course img:hover {
  filter: opacity(0.9);
  transition: filter 0.3s linear;
}

.course:nth-child(0n+2) {
  margin: auto 2rem auto 2rem;
}

.course .content {
  margin: 1rem 1rem 1.5rem 1rem;
  width: auto;
}

.section {
  margin: 0.5rem auto 0.5rem auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
  line-height: 1rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.course img {
  width: 100%;
}

/*-------- category mobile --------*/
@media only screen and (max-width: 520px) {
  .container.category {
    background-color: white;
  }

  .container.category .box img, .container.category .box img, .container.category .box span, .container.category .box span, .container.category .box p, .box p {
    display: none;
  }

  .container.category .box {
    flex-direction: column;
  }

  .course {
    width: 100%;
    background-color: rgb(235, 235, 235);
    margin: 0.5rem 0 0 0;
  }

  .course:nth-child(0n+2) {
    margin: 0.5rem 0 0 0;
  }

  .container.category .box:last-child {
    margin: 0 1rem 2rem 1rem;
  }

  .container.category .box {
    justify-content: center;
    margin: 0 1rem 0 1rem;
  }

  .category h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

}


/*-------- main-video --------*/
.container.video {
  background-color: white;
  flex-direction: column;
}

.container.video h2 {
  text-align: center;
  margin-top: 2rem;
}

.left video {
  width: 100%;
}

.video h3 {
  margin-top: 1.5rem;
}

.video p {
  margin-top: 0.5rem;
}

.video .right {
  margin-top: 2rem;
}

.video .article:nth-child(0n+1) {
  background-color: rgb(230, 230, 230);
}

/*-------- main-video mobile --------*/
@media only screen and (max-width: 520px) {
  .container.video .right {
    display: none;
  }

  .container.video .left {
    width: 100%;
  }

  .container.video h2 {
    margin: 2rem auto 1rem auto;
  }

  .container.video h3 {
    display: none;
  }

  .container.video video {
    margin-bottom: 1.5rem;
  }
}


/*-------- footer --------*/
footer {
  display: flex;
  border-top: 1px solid rgb(235, 235, 235);
}

.copyright {
  flex-grow: 1;
  margin: 1rem 0 1rem 1.5rem;
  color: rgb(120, 120, 120);
  font-size: 1rem;
}

.buton {
  margin: 1rem 1.5rem 1rem 0;
}

.buton a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(120, 120, 120);
}

/*-------- footer mobile --------*/
@media only screen and (max-width: 520px) {
  .buton {
    display: none;
  }

}
